name: build-macos

on:
  push:
    branches: [ "main", "master" ]
  pull_request:

jobs:
  build:
    runs-on: macos-14

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure
        run: cmake -S . -B build -G Xcode -DBUILD_AU=ON

      - name: Build
        run: cmake --build build --config Release --parallel

      - name: Upload VST3 and AU Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: InertiaBands-macOS-Plugins
          path: |
            build/plugin/InertiaBands_artefacts/Release/VST3/**
            build/plugin/InertiaBands_artefacts/Release/AU/**
