name: build-windows

on:
  push:
    branches: [ "main", "master" ]
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure
        run: cmake -S . -B build -G "Visual Studio 17 2022" -A x64 -DBUILD_AU=OFF

      - name: Build
        run: cmake --build build --config Release --parallel

      - name: Upload VST3 Artifact
        uses: actions/upload-artifact@v4
        with:
          name: InertiaBands-Windows-VST3
          path: |
            build/plugin/InertiaBands_artefacts/Release/VST3/**
